/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 6, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 10, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 17, ../scss/style.scss */
.blue {
  width: 500px;
}

/* line 23, ../scss/style.scss */
.register {
  background-color: #ffab56;
  color: white;
  width: 200px;
}

/* line 33, ../scss/style.scss */
.button1 {
  display: inline-block;
  width: 40%;
  padding: 8px;
  color: #fff;
  border: 1px solid #ffab56;
  text-align: center;
  outline: none;
  text-decoration: none;
}

/* line 45, ../scss/style.scss */
.button1:hover {
  background-color: #ffab56;
  color: #000;
}

/* line 49, ../scss/style.scss */
.button2 {
  display: inline-block;
  width: 40%;
  padding: 8px;
  color: #fff;
  border: 1px solid #ffab56;
  text-align: center;
  outline: none;
  text-decoration: none;
  float: right;
}

/* line 62, ../scss/style.scss */
.button2:hover {
  background-color: #ffab56;
  color: #000;
}

/* line 74, ../scss/style.scss */
.textimg {
  width: 42%;
  margin-left: 500px;
  margin-top: -300px;
  position: center;
}

/* line 85, ../scss/style.scss */
.wrapper header {
  width: 100%;
  background-color: #37bde8;
  padding: 20px;
}

/* line 101, ../scss/style.scss */
header img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  float: left;
}
/* line 107, ../scss/style.scss */
header li {
  width: 100%;
  display: inline;
  color: white;
  list-style-type: none;
  padding-right: 40px;
  border-right: 1px solid #ffffff;
}
/* line 116, ../scss/style.scss */
header ul {
  float: right;
  color: white;
  margin-top: 25px;
}
/* line 122, ../scss/style.scss */
header a {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-size: 24px;
  font-family: montseratt;
  border-right: white;
  border-size: 5px;
}

/* line 137, ../scss/style.scss */
.imgbox {
  background-image: url(../img/grokpic.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 25px;
}

/* line 152, ../scss/style.scss */
.signup {
  background-color: #37bde8;
  width: 100%;
  margin-top: 25px;
}
/* line 157, ../scss/style.scss */
.signup p {
  float: left;
  margin-right: 50px;
}
/* line 161, ../scss/style.scss */
.signup form {
  margin-top: 25px;
}

/* line 168, ../scss/style.scss */
.container {
  display: block;
  padding: 20px;
}
/* line 173, ../scss/style.scss */
.container img {
  width: 40%;
  float: left;
}
/* line 178, ../scss/style.scss */
.container .div {
  float: right;
  width: 40%;
}

/* line 185, ../scss/style.scss */
.sponsor {
  width: 100;
  display: block;
  padding-bottom: 50px;
}
/* line 191, ../scss/style.scss */
.sponsor img {
  max-width: 25%;
  margin-right: 50px;
  line-height: normal;
}
/* line 198, ../scss/style.scss */
.sponsor .textimg p {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
/* line 205, ../scss/style.scss */
.sponsor .textimg h1 {
  color: white;
}
/* line 209, ../scss/style.scss */
.sponsor .container div {
  width: 50%;
  float: right;
}
/* line 213, ../scss/style.scss */
.sponsor .container p {
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 50px;
}
/* line 219, ../scss/style.scss */
.sponsor .container h1 {
  font-size: 32px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
/* line 225, ../scss/style.scss */
.sponsor .signup p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 50px;
}
/* line 233, ../scss/style.scss */
.sponsor .signup input {
  margin-right: 35px;
}
/* line 239, ../scss/style.scss */
.sponsor .chimp {
  width: 25%;
}
/* line 242, ../scss/style.scss */
.sponsor .github {
  width: 20%;
}
/* line 245, ../scss/style.scss */
.sponsor .imgdiv {
  background-image: url(../img/grockclassroom.jpg);
  width: 40%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px;
  padding-top: 300px;
  padding-bottom: 25px;
  float: right;
  margin-right: 75px;
}
/* line 256, ../scss/style.scss */
.sponsor .textdiv {
  width: 40%;
  float: left;
}
/* line 260, ../scss/style.scss */
.sponsor .maindiv {
  background-color: white;
  width: 100%;
  padding: 20px;
}
/* line 267, ../scss/style.scss */
.sponsor .bodywrap {
  width: 100%;
  background-image: url(../img/grok2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
  padding-top: 400px;
}
/* line 285, ../scss/style.scss */
.sponsor .blue4 {
  width: 75%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #9bdef3;
}
/* line 297, ../scss/style.scss */
.sponsor .blue2 {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #9bdef3;
  width: 75%;
}
/* line 303, ../scss/style.scss */
.sponsor .blue2 h1 {
  text-align: center;
}
/* line 311, ../scss/style.scss */
.sponsor .blue {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #9bdef3;
  width: 75%;
  padding-bottom: 25px;
}
/* line 318, ../scss/style.scss */
.sponsor .blue3 {
  padding-top: 35px;
  background-color: #9bdef3;
  width: 75%;
  margin-bottom: 50px;
}
/* line 328, ../scss/style.scss */
.sponsor .blue input {
  display: inline-block;
  width: 20%;
  margin-left: 10px;
}
/* line 334, ../scss/style.scss */
.sponsor .blue p {
  display: inline-block;
  margin-right: 75px;
}
/* line 339, ../scss/style.scss */
.sponsor .tg-wrap {
  padding-bottom: 200px;
  padding-top: 200px;
  padding-left: 200px;
}
/* line 344, ../scss/style.scss */
.sponsor .whitediv {
  background-color: white;
  width: 75%;
  padding-top: 50px;
  padding-bottom: 150px;
  margin-top: -300px;
  margin-left: 250px;
  padding-left: 100px;
}
/* line 359, ../scss/style.scss */
.sponsor .whitediv input {
  clear: both;
}
/* line 364, ../scss/style.scss */
.sponsor .wrap {
  width: 100%;
  padding-left: 50px;
  clear: both;
}
/* line 370, ../scss/style.scss */
.sponsor label {
  display: inline-block;
  width: 40%;
  text-align: right;
  font-size: 18px;
  line-height: 20px;
}
/* line 377, ../scss/style.scss */
.sponsor label text {
  text-align: right;
  font-size: 24px;
}
/* line 383, ../scss/style.scss */
.sponsor .tg {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 384, ../scss/style.scss */
.sponsor .tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 100px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}
/* line 385, ../scss/style.scss */
.sponsor .tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}
/* line 386, ../scss/style.scss */
.sponsor .tg .tg-yw4l {
  vertical-align: top;
}
/* line 388, ../scss/style.scss */
.sponsor footer {
  width: 100%;
  background-color: #37bde8;
  padding: 40px;
}
/* line 393, ../scss/style.scss */
.sponsor footer img {
  width: 200px;
  height: 200px;
  margin-right: 200px;
  margin-left: 0px;
  padding-right: 50px;
  padding-left: 25px;
}
